__pycache__/
build/
.vscode/
.idea/
CMakeFiles/
CMakeCache.txt
*.cmake
.DS_Store
_*.*
Makefile
*.err
*.log
*.csv
/result/
/results/
*.tar
*.stream
*.config
*.pdf
*.uuid
/cmake-build-debug/
*.tex
*.bak
*.prof
scripts/
*.patch
.ninja_log
build.ninja
parlaylib-populate-gitclone-lastrun.txt
parlaylib-populate-gitinfo.txt
parlaylib-populate-update-info.txt